{
  "plugins": ["jest", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-parameter-properties": "off",
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2],
    "max-len": [
      "warn",
      {
        "code": 100
      }
    ],
    "no-invalid-this": "warn",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "double"],
    "require-jsdoc": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
